#about {
    background-color: transparent;
    color: snow;
    font-size: 1.15rem;
}
#about h3 {
    font-size: 26px;
}
#about .about-text {
    text-align: justify;
}

#about .about-list {
    list-style: none;
}
#about .about-list li{
    margin-bottom: 10px;
}
#about .about-list .title{
    color: var(--primary-color);
    margin-right: 1rem;
    font-weight: 700;
    text-wrap: nowrap;
}