.theme-switcher-wrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999; /* Ensure it floats above other elements */
}

.theme-switch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .theme-switch {
    display: flex;
    align-items: center;
  }
  
  .theme-switch__text {
    margin-right: 10px;
  }
  
  .theme-switch__label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .theme-switch__input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .theme-switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }
  
  .theme-switch__slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
  
  .theme-switch__input:checked + .theme-switch__slider {
    background-color: #2196F3;
  }
  
  .theme-switch__input:focus + .theme-switch__slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .theme-switch__input:checked + .theme-switch__slider:before {
    transform: translateX(26px);
  }