.skill-list .skill {
    font-size: 13px;
    margin-right: 2%;
    width: 23%;
    margin-bottom: 1rem;
}
@media (max-width: 768px) { 
    .skill-list .skill{
        margin-right: 1%;
        width: 32%;
    }
}

@media (max-width: 576px) { 
    .skill-list .skill{
        margin-right: 5%;
        width: 45%;
    }

}