.form-control:focus {
    border-color: var(--primary-color-500)!important;
    box-shadow: 0 0 0 0.25rem rgba(190, 167, 237, 0.1)!important; /* primary color 500*/
}

.form-control {
    font-size: 0.9rem;
}