/*Fonts*/
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./assets/fonts/Montserrat-Regular.ttf) format('truetype');
}

:root {
  --primary-color: #5d3fd3;
  --primary-color-500: #ac91e9;
  --primary-color-600: #BEA7ED;
  --app-body-color: #16121E;
  --mixed-200: #2b2833;
  --bs-body-color: snow!important;
  --bs-body-bg: #2b2833!important;
}

body {
  /*padding-top: 56px;            offset for navbar */
  background-color: var(--app-body-color)!important; 
  font-family: 'Montserrat'!important;
}
html, body {
  height: 100%;
  width: 100%;
}

#root, .App {
  height: 100%;
  width: 100%;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

.btn-custom-primary {
  --bs-btn-color: #fff!important;
  --bs-btn-bg: var(--primary-color)!important;
  --bs-btn-border-color: var(--primary-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--primary-color);
  --bs-btn-active-border-color: var(--primary-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}

.navbar-offset {
  padding-top: calc(56px + 2rem)!important;
}

.card {
  --bs-card-bg: var(--mixed-200)!important;
  --bs-card-title-color: snow!important;
  --bs-card-color: #9b98a1!important;
}

.progress {
  --bs-progress-bg: var(--mixed-200)!important;
  --bs-progress-bar-color: var(--mixed-200)!important;
  --bs-progress-bar-bg: var(--primary-color-500)!important;
}

.color-text {
  color: var(--primary-color-600);
}
.page-title {
  display: inline-block;
  position: relative;
  padding-right: 25px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  font-size: 32px;
}
.dots::after {
  position: absolute;
  opacity: .45;
  top: 10px;
  right: 0;
  content: '';
  height: 30px;
  width: 50px;
  background-image: -webkit-repeating-radial-gradient(center center,var(--primary-color), var(--primary-color) 1px,transparent 0px,transparent 100%);
  /* background-image: -moz-repeating-radial-gradient(center center,#04b4e0,#04b4e0 1px,transparent 0px,transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center,#04b4e0,#04b4e0 1px,transparent 0px,transparent 100%);
  -webkit-background-size: 6px 6px;
  -moz-background-size: 6px 6px; */
  background-size: 6px 6px;
  z-index: -1;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
